{% extends 'base.html.twig' %}

{% block title %}Конвертер фотографий{% endblock %}

{% block body %}
    <div class="wrapper">
       <h1>Пузырьковая сортировка</h1>
       <div>
           {% for item in array %}
                {{ item }}
           {% endfor %}
       </div>
       <h1>Пузырьковая сортировка2</h1>
       <div>
           {% for item in array2 %}
                {{ item }}
           {% endfor %}
       </div>
       <h1>Сортировка перемешиванием</h1>
       <div>
           {% for item in arraySheyk %}
                {{ item }}
           {% endfor %}
       </div>
    </div>
{% endblock %}
